<%= form_for(@foreign_user) do |f| %>
  <% if @foreign_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foreign_user.errors.count, "error") %> prohibited this foreign_user from being saved:</h2>

      <ul>
      <% @foreign_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :foreign_id %><br>
    <%= f.number_field :foreign_id %>
  </div>
  <div class="field">
    <%= f.label :foreign_username %><br>
    <%= f.text_field :foreign_username %>
  </div>
  <div class="field">
    <%= f.label :foreign_full_name %><br>
    <%= f.text_field :foreign_full_name %>
  </div>
  <div class="field">
    <%= f.label :media %><br>
    <%= f.number_field :media %>
  </div>
  <div class="field">
    <%= f.label :follows %><br>
    <%= f.number_field :follows %>
  </div>
  <div class="field">
    <%= f.label :followed_by %><br>
    <%= f.number_field :followed_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
