<div class="page-header">
  <h1>
    Foreign Users
    <small>(<%= @all_foreign_users.following.count %>/<%= @all_foreign_users.count %>)</small>
  </h1>
</div>

<%= paginate @foreign_users, :theme => 'twitter-bootstrap-3'%>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Foreign</th>
        <th>Foreign username</th>
        <th>Foreign full name</th>
        <th>Following</th>
        <th>Private</th>
        <th>Media</th>
        <th>Follows</th>
        <th>Followed by</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @foreign_users.each do |foreign_user| %>
        <tr>
          <td><%= foreign_user.foreign_id %></td>
          <td><%= foreign_user.foreign_username %></td>
          <td><%= foreign_user.foreign_full_name %></td>
          <td><%= foreign_user.following %></td>
          <td><%= foreign_user.is_private %></td>
          <td><%= foreign_user.media %></td>
          <td><%= foreign_user.follows %></td>
          <td><%= foreign_user.followed_by %></td>
          <td><%#= link_to 'Show', foreign_user %></td>
          <td><%#= link_to 'Edit', edit_foreign_user_path(foreign_user) %></td>
          <td><%#= link_to 'Destroy', foreign_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @foreign_users, :theme => 'twitter-bootstrap-3'%>
