<p>
  <strong>Foreign:</strong>
  <%= @foreign_user.foreign_id %>
</p>

<p>
  <strong>Foreign username:</strong>
  <%= @foreign_user.foreign_username %>
</p>

<p>
  <strong>Foreign full name:</strong>
  <%= @foreign_user.foreign_full_name %>
</p>

<p>
  <strong>Media:</strong>
  <%= @foreign_user.media %>
</p>

<p>
  <strong>Follows:</strong>
  <%= @foreign_user.follows %>
</p>

<p>
  <strong>Followed by:</strong>
  <%= @foreign_user.followed_by %>
</p>

<%= link_to 'Edit', edit_foreign_user_path(@foreign_user) %> |
<%= link_to 'Back', foreign_users_path %>
