<div class="page-header">
  <h1>Settings</h1>
</div>

<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :username %>
    <%= f.input :instagram_access_token %>

    <br>
    <h4>Instagram Actions</h4>
    <%= f.input :follow_hourly, label: "Follow Hourly", as: :boolean, :input_html => { :checked => to_boolean(@user.settings(:instagram_actions).follow_hourly) }, checked_value: true, unchecked_value: false %>
    <%= f.input :like_hourly, label: "Like Hourly", as: :boolean, :input_html => { :checked => to_boolean(@user.settings(:instagram_actions).like_hourly) }, checked_value: true, unchecked_value: false %>
    <%= f.input :unfollow_hourly, label: "Unfollow Hourly", as: :boolean, :input_html => { :checked => to_boolean(@user.settings(:instagram_actions).unfollow_hourly) }, checked_value: true, unchecked_value: false %>

    <br>
    <h4>Instagram Actionsettings</h4>
    <p>
      Coming Soon.
    </p>
  </div>

  <hr>

  <div class="form-actions">
    <%= f.button :submit, "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", request.referer, class: "btn btn-link" %>
  </div>
<% end %>
