<%= form_for(@foreign_like) do |f| %>
  <% if @foreign_like.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foreign_like.errors.count, "error") %> prohibited this foreign_like from being saved:</h2>

      <ul>
      <% @foreign_like.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :foreign_media_id %><br>
    <%= f.number_field :foreign_media_id %>
  </div>
  <div class="field">
    <%= f.label :foreing_user_id %><br>
    <%= f.number_field :foreing_user_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :liked_at %><br>
    <%= f.datetime_select :liked_at %>
  </div>
  <div class="field">
    <%= f.label :unliked_at %><br>
    <%= f.datetime_select :unliked_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
