<div class="page-header">
  <h1>
    Foreign Likes
    <small>(<%= @all_foreign_likes.count %>)</small>
  </h1>
</div>

<%= paginate @foreign_likes, :theme => 'twitter-bootstrap-3'%>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Foreign media</th>
        <th>Foreing user</th>
        <th>User</th>
        <th>Liked at</th>
        <th>Unliked at</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @foreign_likes.each do |foreign_like| %>
        <tr>
          <td><%= foreign_like.foreign_media_id %></td>
          <td><%= foreign_like.foreing_user_id %></td>
          <td><%= foreign_like.user_id %></td>
          <td><%= foreign_like.liked_at %></td>
          <td><%= foreign_like.unliked_at %></td>
          <td><%#= link_to 'Show', foreign_like %></td>
          <td><%#= link_to 'Edit', edit_foreign_like_path(foreign_like) %></td>
          <td><%#= link_to 'Destroy', foreign_like, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @foreign_likes, :theme => 'twitter-bootstrap-3'%>
