<p>
  <strong>Foreign media:</strong>
  <%= @foreign_like.foreign_media_id %>
</p>

<p>
  <strong>Foreing user:</strong>
  <%= @foreign_like.foreing_user_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @foreign_like.user_id %>
</p>

<p>
  <strong>Liked at:</strong>
  <%= @foreign_like.liked_at %>
</p>

<p>
  <strong>Unliked at:</strong>
  <%= @foreign_like.unliked_at %>
</p>

<%= link_to 'Edit', edit_foreign_like_path(@foreign_like) %> |
<%= link_to 'Back', foreign_likes_path %>
