<%= form_for(@foreign_relationship) do |f| %>
  <% if @foreign_relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foreign_relationship.errors.count, "error") %> prohibited this foreign_relationship from being saved:</h2>

      <ul>
      <% @foreign_relationship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :foreign_user_id %><br>
    <%= f.number_field :foreign_user_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :followed_at %><br>
    <%= f.datetime_select :followed_at %>
  </div>
  <div class="field">
    <%= f.label :unfollowed_at %><br>
    <%= f.datetime_select :unfollowed_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
