<div class="page-header">
  <h1>
    Foreign Relationships
    <small>(<%= @all_foreign_relationships.following.count %>/<%= @all_foreign_relationships.unfollowed.count %>/<%= @all_foreign_relationships.count %>)</small>
  </h1>
</div>

<%= paginate @foreign_relationships, :theme => 'twitter-bootstrap-3'%>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Foreign user</th>
        <th>User</th>
        <th>Followed at</th>
        <th>Unfollowed at</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @foreign_relationships.each do |foreign_relationship| %>
        <tr>
          <td><%= ForeignUser.where(foreign_id: foreign_relationship.foreign_user_id).first.foreign_username %></td>
          <td><%= foreign_relationship.user_id %></td>
          <td><%= foreign_relationship.followed_at %></td>
          <td><%= foreign_relationship.unfollowed_at %></td>
          <td><%#= link_to 'Show', foreign_relationship %></td>
          <td><%#= link_to 'Edit', edit_foreign_relationship_path(foreign_relationship) %></td>
          <td><%#= link_to 'Destroy', foreign_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @foreign_relationships, :theme => 'twitter-bootstrap-3'%>
