<p>
  <strong>Foreign user:</strong>
  <%= @foreign_relationship.foreign_user_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @foreign_relationship.user_id %>
</p>

<p>
  <strong>Followed at:</strong>
  <%= @foreign_relationship.followed_at %>
</p>

<p>
  <strong>Unfollowed at:</strong>
  <%= @foreign_relationship.unfollowed_at %>
</p>

<%= link_to 'Edit', edit_foreign_relationship_path(@foreign_relationship) %> |
<%= link_to 'Back', foreign_relationships_path %>
